html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Sans-Serif;
  background-color: #f6f6f6;
}
* {
  box-sizing: border-box;
}

.home {
  background-image: url("images/homebackground.jpg");
  background-size: cover;
}
.home > header {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 8em;
}
.home > header > h1,
.home > header > h2 {
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.home > header > h1 {
  font-size: 5em;
  margin: 0;
}
.home > header > h2 {
  margin-top: 0;
}
