* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

leaflet-map {
  height: 100%;
}

#add-spot {
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 0 5px #999;
}

.error {
  --paper-toast-background-color: #900;
}

#create-form {
  width: 80%;
  min-width: 400px;
  max-width: 600px;
}

form {
  width: 100%;
  padding: 30px;
}

form .required label {
  font-weight: bold;
}
form .required label:after {
  content: " *";
}
form > div {
  margin-bottom: 1em;
}
form label {
  display: block;
  margin-bottom: .5rem;
  color: #333;
  font-size: 1.1em;
  display: inline-block;
  width: 20%;
}
form [type=checkbox] + label {
  width: inherit;
}

form input[type=text],
form input[type=range],
form select,
form textarea {
  display: inline-block;
  width: 70%;
  margin: 0 0 0 9%;
  border: 1px solid #888;
  border-radius: 5px;
  padding: .5rem 1rem;
  font: inherit;
  color: inherit;
}

form input[type=range] {
  border: 0;
}

form input[type=checkbox] {
  margin-right: 1rem;
  margin-left: 30%;
}

.error {
  background-color: #900;
  color: #fff;
}
