<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Make the World your Workplace - Webnomad</title>
        <meta name="description" content="Find a local place to work, get connected to other remote workers." />
        <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic' rel='stylesheet' type='text/css' />-->
        {% block extra_css %}{% endblock %}
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/riot+compiler.js"></script>
        <script src="/tags/form.tag" type="riot/tag"></script>
        <script src="/tags/app.tag" type="riot/tag"></script>
        {% block extra_js %}{% endblock %}
    </head>

    <body>
        <header>
            <h1>WebNomad</h1>
            <h2>Make the world your workplace.</h2>
        </header>
        <main>
        {% block main %}{% endblock %}
        </main>
        <script>
            riot.mount('*');
        </script>
        {#% include '_analytics.html' %#}
    </body>
</html>
